beautifulsoup4
google
joblib
jupyter
matplotlib
nba_api
numpy
pandas
python-Levenshtein
requests
scikit-learn
scipy
shap
selenium
SQLAlchemy
sqlite-utils
thefuzz
threadpoolctl
pandasql
polars
dotenv
psycopg2-binary
# warnings